/* You can add global styles to this file, and also import other style files */

.nssd-font-bold {
  font-weight: 800;
}
.nssd-font-italic {
  font-style: italic;
}
.nssd-font-lg {
  font-size: 18px;
}
.nssd-font-md {
  font-size: 14px;
}
.nssd-font-normal {
  font-style: normal;
}
.nssd-font-sm {
  font-size: 10px;
}

.nssd-margin-bottom {
  margin-bottom: 16px;
}
